<!-- <!DOCTYPE html    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> -->

<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{navbar::layout(~{::section})}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
</head>

<body>
    <section>
        <link rel="stylesheet" th:href="@{/css/attendance.css}" />
        
        <h1> Attendance</h1>
        <b th:text="${monthName}"></b>


        <table id="attendancetable">
            <thead>
                <tr>
                    <th class="name-col">Student Name</th>                    
            
                    <!-- <th th:text="${at[0]['monthMaster_fid'].totalDays}"></th> -->
                    <!-- <th th:each="day : ${#numbers.sequence(1, at!=null? at[0]['monthMaster_fid'].totalDays:1)}" th:text="${day}"></th> -->
                    <!-- <th  th:each="day : ${#numbers.sequence(1,${at==null?30: at[0]['monthMaster_fid'].totalDays})}" th:text="${day}"></th> -->
                    <!-- <th th:if="${dt!=null}" th:each="day : ${#numbers.sequence(1, ${at == null ? 30 : at[0]['monthMaster_fid'] == null ? 30 : at[0]['monthMaster_fid'].totalDays})}" th:text="${day}"></th> -->
                    <th th:each="day : ${#numbers.sequence(1, totaldays)}" th:text="${day}"></th>




                   
                    <th class="missed-col">Days Missed-col</th>
                </tr>
            </thead>
            <tbody>  
              <tr class="student" th:each="at:${at}">
                
                <td class="name" th:text="${at['user_fid']['name']}"></td>
                <td class="name-col" th:text="${at['user_fid']['id']}" style="display: none;"></td>
                
                <td class="attend-col" th:each="m : ${#numbers.sequence(1,at['monthMaster_fid']['totalDays'])}"><input type="checkbox"></td>
                <td class="missed-col">0</td>
                </tr>           
                <!-- <tr class="student">
                    <td class="name-col">Slappy the Frog</td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col" ><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>                    
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="missed-col">0</td>
                </tr>
                <tr class="student">
                    <td class="name-col">Lilly the Lizard</td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="missed-col">0</td>
                </tr>
                <tr class="student">
                    <td class="name-col">Paulrus the Walrus</td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="missed-col">0</td>
                </tr>
                <tr class="student">
                    <td class="name-col">Gregory the Goat</td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="missed-col">0</td>
                </tr>
                <tr class="student">
                    <td class="name-col">Adam the Anaconda</td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="attend-col"><input type="checkbox"></td>
                    <td class="missed-col">0</td>
                </tr> -->
            </tbody>
        </table>
        
        
        <script th:inline="javascript">
          debugger;
            var a=/*[[${at}]]*/'';
            
            console.log(a);
          debugger;
           ( function () {
            debugger;
    if (!localStorage.attendance) {
      console.log("Creating attendance records...");
      function getRandom() {
        return Math.random() >= 0.5;
      }
  
      var nameColumns = $("tbody .name-col"),
        attendance = {};
  
      nameColumns.each(function () {
        var name = this.innerText;
        attendance[name] = [];
  
        for (var i = 0; i <= 11; i++) {
          attendance[name].push(getRandom());
        }
      });
  
      localStorage.attendance = JSON.stringify(attendance);
    }
  })();
  
  /* STUDENT APPLICATION */
  $(
    (function () {
      debugger;


      var attendance = JSON.parse(localStorage.attendance),
        $allMissed = $("tbody .missed-col"),
        $allCheckboxes = $("tbody input");
  
      // Count a student's missed days
      function countMissing() {
        $allMissed.each(function () {
          var studentRow = $(this).parent("tr"),
            dayChecks = $(studentRow).children("td").children("input"),
            numMissed = 0;
  
          dayChecks.each(function () {
            if (!$(this).prop("checked")) {
              numMissed++;
            }
          });
  
          $(this).text(numMissed);
        });
      }
  
      // Check boxes, based on attendace records
      $.each(attendance, function (name, days) {
        var studentRow = $('tbody .name-col:contains("' + name + '")').parent(
            "tr"
          ),
          dayChecks = $(studentRow).children(".attend-col").children("input");
  
        dayChecks.each(function (i) {
          $(this).prop("checked", days[i]);
        });
      });
  
      // When a checkbox is clicked, update localStorage
      $allCheckboxes.on("click", function () {
        debugger;
        var studentRows = $("tbody .student"),
          newAttendance = {};
  
        studentRows.each(function () {
          var name = $(this).children(".name-col").text(),
            $allCheckboxes = $(this).children("td").children("input");
  
          newAttendance[name] = [];
  
          $allCheckboxes.each(function () {
            newAttendance[name].push($(this).prop("checked"));
          });
        });
  
        countMissing();
        localStorage.attendance = JSON.stringify(newAttendance);
      });
  
      countMissing();
    })()
  );
        </script>
    </section>
</body>

</html>