<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->

<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{navbar::layout(~{::section})}"
>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <title></title>
    <style>
      .table-sortable tbody tr {
        cursor: move;
      }
    </style>
  </head>
  <body>
    <section>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
      <link rel="stylesheet" th:href="@{/css/ProductForm.css}" />
      <div
        class="form-floating col-md-6 mx-auto mb-3 text-center col-4 aligh-center"
      >
        <h2>Add Challan</h2>
      </div>
      <div class="panel mlr-15">
        <div class="panel-header">Challan Details</div>
        <div class="mb-2 col-6 text-center mt-2 d-flex mlr">
          <div class="form-floating mb-3 col-7">
            <input
              type="text"
              class="form-control"
              id="html_challanno"
              placeholder="name@example.com"
            />
            <label for="floatingInput mr-5" class="ml-15">Challan Number</label>
          </div>
          <div class="form-floating mb-3 col-7">
            <select
              class="form-select form-select-lg mb-3"
              aria-label=".form-select-lg example"
            >
              <option selected>Supplier</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-floating mb-3 col-7">
            <input
              type="date"
              class="form-control"
              id="html_ChallanDate"
              placeholder="name@example.com"
            />
            <label for="floatingInput mr-5" class="ml-15">Challan Date</label>
          </div>
        </div>
        <div class="mb-2 col-6 text-center mt-2 d-flex mlr">
          <div class="form-floating mb-2 col-7">
            <input
              type="number"
              class="form-control"
              id="html_Quantity"
              placeholder="name@example.com"
            />
            <label for="floatingInput mr-5" class="ml-15">Quantity</label>
          </div>
          <div class="form-floating mb-2 col-7">
            <input
              type="number"
              class="form-control"
              id="html_Quantity"
              placeholder="name@example.com"
            />
            <label for="floatingInput mr-5" class="ml-15">Amount</label>
          </div>
        </div>
      </div>

      <div class="panel mlr-15 mt-5">
        <div class="panel-header">Add Products</div>
        <div class="container ">
          <div class="row clearfix">
            <div class="col-md-12 table-responsive">
              <table
                class="table table-bordered table-hover table-sortable"
                id="tab_logic"
              >
                <thead>
                  <tr>
                    <th class="text-center">Product Code</th>
                    <th class="text-center">Product Style</th>
                    <th class="text-center">Purchase Rate</th>
                    <th class="text-center">Purchase MRP</th>
                    <th class="text-center mw150">Brand    </th>
                    <th class="text-center mw150">Category</th>
                    
                    <th
                      class="text-center"
                      style="
                        border-top: 1px solid #ffffff;
                        border-right: 1px solid #ffffff;
                      "
                    ></th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="addr0" data-id="0" >
                    <td data-name="mail">
                      <div class="form-floating mb-3 ">
                        <input
                          type="text"
                          class="form-control"
                          id="html_MRP"
                          placeholder="name@example.com"
                        />
                        <label for="floatingInput mr-5" class="ml-15">Product Code</label>
                      </div>
                    </td>
                    <td data-name="mail">
                      <div class="form-floating mb-3 ">
                        <input
                          type="text"
                          class="form-control"
                          id="html_style"
                          placeholder="name@example.com"
                        />
                        <label for="floatingInput mr-5" class="ml-15">Product Style</label>
                      </div>
                    </td>                      
                   
                    <td data-name="mail">
                        <div class="form-floating mb-3 ">
                            <input
                              type="number"
                              class="form-control"
                              id="html_MRP"
                              placeholder="name@example.com"
                            />
                            <label for="floatingInput mr-5" class="ml-15">Purchase Rate</label>
                          </div>
                    </td>
                    <td data-name="mail">
                      <div class="form-floating mb-3 ">
                          <input
                            type="number"
                            class="form-control"
                            id="html_MRP"
                            placeholder="name@example.com"
                          />
                          <label for="floatingInput mr-5" class="ml-15">MRP</label>
                        </div>
                  </td>
                    <td data-name="mail">
                        <div class="form-floating mb-3 ">
                            <select 
                              class="form-select form-select-lg mb-3"
                              aria-label=".form-select-lg example"
                            >                           

                              
                              <option >Brand</option>
                                   <option th:each="b:${brands}" th:value="${b.brand_pid}" th:text="${b.code + ' - ' + b.name}"></option>
                            
                              
                            </select>
                          </div>
                      </td>
                    <td data-name="mail">
                        <div class="form-floating mb-3 ">
                            <select
                              class="form-select form-select-lg mb-3"
                              aria-label=".form-select-lg example"
                            >
                              <option selected>Category</option>
                              <option th:each="c:${categories}" value="c.category_pid" th:text="${c.name+'-'+c.code}"></option>
                              
                            </select>
                          </div>
                    </td>
                    <td data-name="del">
                      <button
                        name="del0"
                        class="btn btn-danger glyphicon glyphicon-remove row-remove"
                      >
                        <span aria-hidden="true">×</span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <a id="add_row" class="btn btn-primary float-right">Add Row</a>
        </div>
      </div>

      <script>
        $(document).ready(function () {
          
          
          //add row function
          $("#add_row").on("click", function () {
            debugger;
            // Dynamic Rows Code

            // Get max row id and set new id
            var newid = 0;
            $.each($("#tab_logic tr"), function () {

              if (parseInt($(this).data("id")) > newid) {

                newid = parseInt($(this).data("id"));

              }
            });
            newid++;

            var tr = $("<tr></tr>", {
              id: "addr" + newid,
              "data-id": newid,
            });

            // loop through each td and create new elements with name of newid
            $.each($("#tab_logic tbody tr:nth(0) td"), function () {
              var td;
              var cur_td = $(this);
              var children = cur_td.children();
              
              // add new td and element if it has a nane

              if ($(this).data("name") !== undefined) {
                td = $("<td></td>", {
                  "data-name": $(cur_td).data("name"),
                });

                var c = $(cur_td)
                  .find($(children[0]).prop("tagName"))
                  .clone()
                  .val("");
                c.attr("name", $(cur_td).data("name") + newid);
                c.appendTo($(td));
                td.appendTo($(tr));
              } else {
                td = $("<td></td>", {
                  text: $("#tab_logic tr").length,
                }).appendTo($(tr));
              }
            });



            
            // add delete button and td
            /*
            $("<td></td>").append(
            $("<button class='btn btn-danger glyphicon glyphicon-remove row-remove'></button>")
            .click(function() {
            $(this).closest("tr").remove();
            })
            ).appendTo($(tr));
            */

            // add the new row
            $(tr).appendTo($("#tab_logic"));

            $(tr)
              .find("td button.row-remove")
              .on("click", function () {
                $(this).closest("tr").remove();
              });
          });

          // Sortable Code
          // var fixHelperModified = function (e, tr) {
          //   var $originals = tr.children();
          //   var $helper = tr.clone();

          //   $helper.children().each(function (index) {

          //     $(this).width($originals.eq(index).width());
              
          //   });

          //   return $helper;
          // };

          // $(".table-sortable tbody")
          //   .sortable({
          //     helper: fixHelperModified,
          //   })
          //   .disableSelection();

          // $(".table-sortable thead").disableSelection();

          // $("#add_row").trigger("click");
        });
      </script>
    </section>
  </body>
</html>
