<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="~{navbar::layout(~{::section})}"


>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supplier</title>
    
    
  </head>
  <body>
    
    <section class="html__section" th:fragment="form_supplier">
      <div class="login-box">
        <h2>Supplier</h2>
        <form action="#" th:action="@{/savesupplier}" method="POST" id="form">
          <!-- <div
            th:if="${errormessage}"
            th:text="${errormessage}"
            id="errormessage"
            class="alert alert-danger"
          ></div>

          <div
            th:if="${sucmessage}"
            th:text="${sucmessage}"
            class="alert alert-success"
          ></div> -->
          <div class="user-box">
            <input type="hidden" name="supplier_pid"  />
          </div>
          <div class="user-box">
            <input
              type="text"
              name="code"
             
              required=""
            />
            <!-- th:value="${data!=null? data.code:''}" -->
            <label>Supplier Code</label>
          </div>
          <div class="user-box">
            <input
              type="text"
              name="name"
              
              required=""
            />
            <!-- th:value="${data!=null? data.name:''}" -->
            <label>Supplier Name</label>
          </div>
          <div class="user-box">
            <input
                    type="email"
                    name="email"
                    
                    required=""
            />
            <!-- th:value="${data!=null? data.email:''}" -->
            <label>Supplier Email</label>
          </div>
          <div class="user-box">
            <input
              type="text"
              name="mobile_no"
             
              required=""
            />
            <!-- th:value="${data!=null? data.mobile_no:''}" -->
            <label>Mobile Number</label>
          </div>
          <div class="user-box">
            <input
              type="text"
              name="gst_no"
              required=""
            />
              <!-- th:value="${data!=null? data.GST_no:''}" -->

            <label>GST NO</label>
          </div>
          <div class="user-box">
            <input
              type="text"
              name="address"
              required=""
            />
              <!-- th:value="${data!=null? data.address:''}" -->

            <label>Address</label>
          </div>
          <!-- <a href="#" th:href="@{/savecat?name=marur&code=dalvi}" style="border: 1px solid;"> -->
         
          <!-- </a> -->
          <div class="button-container">
            <button type="submit" id="save" style="border-radius: 25px" class="btn-form">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Save
            </button>
            <button type="cancle" id="cancle" style="border-radius: 25px" class="btn-form-cancle btn-danger">
      
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Cancle
            </button>
          </div>
        </form>
      </div>
    
      <script>


$(document).ready(() => {

  
 $("#master .fa-caret-down").toggleClass("tarnsform");
  $(".clild-menu_master").slideToggle();


});


      </script>
      
    </section>
   
    
    
  </body>
</html>
