.mlr div {
    margin-left: 15px;
    margin-right: 15px;
  }

  .mlr-15 {
    margin-left: 15px;
    margin-right: 15px;
  }
  .ml-15{
    left: 15px !important;
  }

  .panel {
    border: 1px solid;
    border-radius: 11px;
    overflow: auto;
  }

  .panel-header {
   
    color: #fff;
    border-bottom: 1px solid;
    padding: 7px;
    background-color: #1c0c5b;
    font-weight: 900;
    font-family: sans-serif;
    border-radius: 8px 8px 0px 0px;
   
    /* border-bottom: 1px solid;
    padding: 4px;
    background-color: #989898ba;
    font-weight: 900;
    font-family: sans-serif;
    border-radius: 8px 8px 4px 4px; */
  }
  .mw150
  {
    min-width: 150px !important;
  }

  .btn_del {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;
  }

  .btn_del,
  .btn_del span {
    transition: 200ms;
  }

  .btn_del .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
  }

  .btn_del .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn_del svg {
    width: 15px;
    fill: #eee;
  }

  .btn_del:hover {
    background: #ff3636;
  }

  .btn_del:hover .text {
    color: transparent;
  }

  .btn_del:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
  }

  .btn_del:focus {
    outline: none;
  }

  .btn_del:active .icon svg {
    transform: scale(0.8);
  }

  .btn_add {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: green;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #146e04;
  }

  .btn_add,
  .btn_add span {
    transition: 200ms;
  }

  .btn_add .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
  }

  .btn_add .icon {
    position: absolute;
    border-left: 1px solid #285021;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn_add svg {
    width: 15px;
    fill: #eee;
  }

  .btn_add:hover {
    background: #289514;
  }

  .btn_add:hover .text {
    color: transparent;
  }

  .btn_add:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
  }

  .btn_add:focus {
    outline: none;
  }

  .btn_add:active .icon svg {
    transform: scale(0.8);
  }

  .ml {
    margin-left: 3px;
  }
  .form-floating > .form-select {
    padding-top: 0px !important;
    
    border-radius: 8px;
    position: absolute;
    top: 0px;
  }
  .btn-div {
    justify-content: end;
    position: relative;
    right: 15px;
  }