<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{navbar::layout(~{::section})}">
<!-- th:replace="navbar::layout(~{::section})" -->
<!-- th:replace="~{navbar::layout(~{::section})}" -->
<!-- navbar::layout(~{::section}) -->


<head>
	<meta charset="UTF-8" />
	<link href="/dist/output.css" rel="stylesheet">
	<title>this is home page</title>
</head>

<body>
	<!-- <div th:replace="~{navbar ::navbar}"></div> -->
	<section class="banner d-flex justify-content-center align-items-center ">
		<link rel="stylesheet" th:href="@{/css/home.css}">
		<div class="home_links">
			<span class="panel_title">Quick Links</span>
			  <div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h2 class="card-title">Generate Bill</h2>
				  <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
				  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's -->
				  <!-- content.</p> -->
					<div class="card_link_box">
					  <!-- <a href="#" class="card-link">Card link</a> -->
					  <a th:href="@{/invoice?id=}" class="card-link">link</a>
					</div>
				</div>
			  </div>
			  <div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h2 class="card-title">Purchase Order</h2>
				  <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
				  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's -->
				  <!-- content.</p> -->
					<div class="card_link_box">
					  <!-- <a href="#" class="card-link">Card link</a> -->
					  <a th:href="@{/po}" class="card-link">link</a>
					</div>
				</div>
			  </div>
			  <div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h2 class="card-title">Add Product</h2>
				  <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
				  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's -->
				  <!-- content.</p> -->
					<div class="card_link_box">
					  <!-- <a href="#" class="card-link">Card link</a> -->
					  <a th:href="@{/product?pid=}" class="card-link">link</a>
					</div>
				</div>
			  </div>
			  <div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h2 class="card-title">Customer</h2>
				  <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
				  <!-- <p class="card-text">	Some quick example text to build on the card title and make up the bulk of the card's -->
				  <!-- content.</p> -->
					<div class="card_link_box">
					  <!-- <a href="#" class="card-link">Card link</a> -->
					  <a th:href="@{/view?form=customer}" class="card-link">link</a>
					</div>
				</div>
			  </div>
			  <div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h2 class="card-title">User</h2>
				  <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
				  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's -->
				  <!-- content.</p> -->
					<div class="card_link_box">
					  <!-- <a href="#" class="card-link">Card link</a> -->
					  <a th:href="@{/view?form=user}" class="card-link">Another link</a>
					</div>
				</div>
			  </div>
			  
			</div>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			  crossorigin="anonymous"></script>
	</section>
</body>

</html>