<!-- <!DOCTYPE html> -->
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->
<!-- <html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head><meta http-equiv="X-UA-Compatible" content="IE=edge" /><title> -->
    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
        Welcome to Add Master
        </title>
        <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
        <link rel="stylesheet" th:href="@{/css/navbarcss/azzara.min.css}" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/nav.css}" />
        <link rel="stylesheet" th:href="@{/css/form.css}" />
        <!-- <link rel="stylesheet" th:href="@{/css/Erp.css}" />
    <link rel="stylesheet" th:href="@{/css/Base.css}" /> -->
        <!-- <link rel="stylesheet" th:href="@{/css/ErpNewHome.css}" /> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    
    
        <!-- <link rel="stylesheet" th:href="@{/css/nav.css}" />
    <link rel="stylesheet" th:href="@{/css/form.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> -->
    
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    
        <!--navbar css-->
        <!-- <link rel="stylesheet" th:href="@{/css/navbarcss/azzara.min.css}" /> -->
        <!-- <link rel="stylesheet" th:href="@{/css/navbarcss/bootstrap.min.css}" /> -->
        <!-- <link rel="stylesheet" th:href="@{/css/navbarcss/fonts.css}" /> -->
        <!-- <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"> -->
        <!-- <link rel="stylesheet" th:href="@{/css/nav.css}" />
     <link rel="stylesheet" th:href="@{/css/form.css}" /> -->
    
    
    </head>
    
    <body>
        <!-- <form name="aspnetForm" method="post" action="./Default.aspx" id="aspnetForm"> -->
            <div class="wrapper">
                <div class="main-header" data-background-color="purple">
                    <div class="logo-header">
                        <a href="Default.aspx" class="logo" style="padding-top: 15px;">
                            <h2>Company</h2>
                        </a>
                        <a class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                            data-target="collapse" aria-expanded="false" aria-label="Toggle navigation"><span
                                class="navbar-toggler-icon"><i class="fa fa-bars"></i></span></a>
                        <a class="topbar-toggler more"><i class="fa fa-ellipsis-v">::</i></a>
                        <div class="navbar-minimize">
                            <a class="btn btn-minimize btn-rounded"><i class="fa fa-bars"></i></a>
                        </div>
                    </div>
                    <nav class="navbar navbar-header navbar-expand-lg">
                        <div class="container-fluid">
                            <div class="collapse" id="search-nav">
                            </div>
                            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                                <li class="nav-item dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"
                                        aria-expanded="false">
                                        <div class="avatar-sm">
                                            <a id="ctl00_LoginStatus1" title="Log Out"
                                                href="javascript:__doPostBack(&#39;ctl00$LoginStatus1$ctl00&#39;,&#39;&#39;)"
                                                style="color:White;font-weight:bold;">
                                                <:>
                                            </a>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="sidebar" style="overflow: auto;">
                    <div class="sidebar-background"></div>
                    <div class="sidebar-wrapper scrollbar-inner">
                        <div class="sidebar-content">
                            <div class="user">
                                <table width="100%">
                                    <tr>
                                        <td height="10"></td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <img id="ctl00_ImgUser2" class=""
                                                src="https://icons.iconarchive.com/icons/igh0zt/ios7-style-metro-ui/256/MetroUI-Apps-Mac-App-Store-icon.png"
                                                style="width:80px;border-width:0px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="5"></td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="color: #001940; font-size: 12px;">
                                            <span id="ctl00_LblMemberName2" style="font-weight:bold;">Your Name</span>
                                            (<span id="ctl00_LoginName1" style="font-weight:bold;">AM214490</span>)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="5"></td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="color: #001940; font-size: 12px;">
                                            <span id="ctl00_LblPackagename" style="font-weight:bold;">Silver</span>
                                            (<span id="ctl00_LblPackage" style="font-weight:bold;">249.00</span>)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="5"></td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="color: #001940;">
                                            <a id="ctl00_LoginStatus2" title="Log Out"
                                                href="javascript:__doPostBack(&#39;ctl00$LoginStatus2$ctl00&#39;,&#39;&#39;)"
                                                style="color:#001940;font-weight:bold;">Logout</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10"></td>
                                    </tr>
                                </table>
                            </div>
                            <ul class="nav">
                                <li class="nav-item"><a href="Default.aspx"><i class="fa fa-bars"></i>
                                        <p>Dash Board</p>
                                    </a></li>
                                <li class="nav-item"><a data-toggle="collapse" href="#Create"><i class="fa fa-bars"></i>
                                        <p>Master</p>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="Create">
                                        <ul class="nav nav-collapse">
                                            <li><a th:href="@{/brand}"><i class="fa fa-bars"></i>Brand</a></li>
                                            <li><a href="FreeJoining.aspx"><i class="fa fa-bars"></i>Joining </a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item"><a data-toggle="collapse" href="#Downline"><i class="fa fa-bars"></i>
                                        <p>Downline</p>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="Downline">
                                        <ul class="nav nav-collapse">
                                            <li><a href="GenerationTreeView.aspx"><i class="fa fa-bars"></i>Generation Tree
                                                    View </a></li>
                                            <li><a href="DirectSponsor.aspx"><i class="fa fa-bars"></i>Direct Sponsor </a>
                                            </li>
                                            <li><a href="DirectSponsorActive.aspx"><i class="fa fa-bars"></i>Direct Sponsor
                                                    Active </a></li>
                                            <li><a href="DirectSponsorInActive.aspx"><i class="fa fa-bars"></i>Direct
                                                    Sponsor InActive </a></li>
                                            <li><a href="TotalDownlineMember.aspx"><i class="fa fa-bars"></i>Total Downline
                                                    Member </a></li>
                                            <li><a href="TotalDownlineMember.aspx?Status=True"><i
                                                        class="fa fa-bars"></i>Total Downline Member Active </a></li>
                                            <li><a href="TotalDownlineMember.aspx?Status=False"><i
                                                        class="fa fa-bars"></i>Total Downline Member InActive </a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item"><a href="MemberInActive.aspx"><i class="fa fa-bars"></i>
                                        <p>Activate Now</p>
                                    </a></li>
                                <li class="nav-item"><a data-toggle="collapse" href="#Profile"><i class="fa fa-bars"></i>
                                        <p>Profile</p>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="Profile">
                                        <ul class="nav nav-collapse">
                                            <li><a href="MyProfile.aspx"><i class="fa fa-bars"></i>My Profile </a></li>
                                            <li><a href="ProfileImage.aspx"><i class="fa fa-bars"></i>Update Profile
                                                    Image</a></li>
                                            <li style="display: none;"><a href="KYCUpdate.aspx"><i
                                                        class="fa fa-bars"></i>KYC Update </a></li>
                                            <li><a href="ChangePassword.aspx"><i class="fa fa-bars"></i>Change Password</a>
                                            </li>
                                            <li><a href="ChangeTransactionalPassword.aspx"><i class="fa fa-bars"></i>Change
                                                    Tran Password </a></li>
                                            <li><a href="ForgotTransactionalPassword.aspx"><i class="fa fa-bars"></i>Forgot
                                                    Tran Password </a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item"><a data-toggle="collapse" href="#MyWallet"><i class="fa fa-bars"></i>
                                        <p>My Wallet</p>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="MyWallet">
                                        <ul class="nav nav-collapse">
                                            <li><a href="AddFund.aspx"><i class="fa fa-bars"></i>Add Fund </a></li>
                                            <li><a href="WalletStatement.aspx?WalletType=Fund Wallet"><i
                                                        class="fa fa-bars"></i>Fund Wallet Statement </a></li>
                                            <li><a href="WalletStatement.aspx?WalletType=Commission Wallet"><i
                                                        class="fa fa-bars"></i>Commission Wallet Statement </a></li>
                                            <li style="display: none;"><a
                                                    href="WalletStatement.aspx?WalletType=Reward Point"><i
                                                        class="fa fa-bars"></i>Reward Point Statement </a></li>
                                            <li><a href="FundDetails.aspx"><i class="fa fa-bars"></i>Fund Request
                                                    Details</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item"><a data-toggle="collapse" href="#MyPayoutDetails"><i
                                            class="fa fa-bars"></i>
                                        <p>Withdrawal</p>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="MyPayoutDetails">
                                        <ul class="nav nav-collapse">
                                            <li><a href="WithdrawalRequest.aspx"><i class="fa fa-bars"></i>Withdrawal
                                                    Request</a></li>
                                            <li><a href="PendingRequest.aspx"><i class="fa fa-bars"></i>Pending Request</a>
                                            </li>
                                            <li><a href="CompletedRequest.aspx"><i class="fa fa-bars"></i>Completed
                                                    Request</a></li>
                                            <li><a href="RefundWalletAmountRequest.aspx"><i class="fa fa-bars"></i>Refund
                                                    Amount Request </a></li>
                                            <li style="display: none;"><a href="TotalAmount.aspx"><i
                                                        class="fa fa-bars"></i>Total Income </a></li>
                                            <li style="display: none;"><a href="UnPaidAmount.aspx"><i
                                                        class="fa fa-bars"></i>UnPaid Income </a></li>
                                            <li style="display: none;"><a href="ReceivedAmount.aspx"><i
                                                        class="fa fa-bars"></i>Received Income </a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item" style="display: none;"><a data-toggle="collapse" href="#Pin"><i
                                            class="fas fa-pen-square"></i>
                                        <p>E-Pin Account</p>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="Pin">
                                        <ul class="nav nav-collapse">
                                            <li><a href="GeneratePin.aspx"><i class="fa fa-bars"></i>Generate E-Pins </a>
                                            </li>
                                            <li><a href="PinTransfer.aspx"><i class="fa fa-bars"></i>E-Pin Transfer </a>
                                            </li>
                                            <li><a href="PinTransferHistory.aspx"><i class="fa fa-bars"></i>E-Pin Transfer
                                                    History </a></li>
                                            <li><a href="ReceivedPinHistory.aspx"><i class="fa fa-bars"></i>Received E-Pin
                                                    History </a></li>
                                            <li><a href="UsedPinHistory.aspx"><i class="fa fa-bars"></i>Used E-Pin
                                                    History</a></li>
                                            <li><a href="UnUsedPinsHistory.aspx"><i class="fa fa-bars"></i>UnUsed E-Pins
                                                    History </a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item" style="display: none;"><a href="FranchiseList.aspx"><i
                                            class="fa fa-bars"></i>
                                        <p>Franchise List</p>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered" style="display: none;">
    
                </table>
    
                <div class="main-panel">
                    <div class="content">
                        <!-- <div class="page-inner">
                    <div th:replace="${content}"></div>
                    
                    
                </div> -->
                        <section class="page__body">
                            <div class="container">
                                <div th:replace="${content}"></div>
                            </div>
    
    
    
                        </section>
                    </div>
                </div>
    
                <table class="table table-bordered" style="display: none;">
    
                </table>
    
            </div>
            <script th:src=@{js/navbarjs/jquery.3.2.1.min.js}></script>
            <script th:src=@{js/navbarjs/jquery-ui.min.js}></script>
            <script th:src=@{js/navbarjs/jquery.scrollbar.min.js}></script>
            <script th:src=@{js/navbarjs/ready.min.js}></script>
            <script th:src=@{js/navbarjs/bootstrap.min.js}></script>
            <script th:src=@{/js/script.js}></script>
            <script th:src=@{/js/nav.js}></script>
        <!-- </form> -->
    </body>
    
    </html>